*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 15px;
    background-color: #f5f5f5;
}

.headerwrap{
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  */
.hero{
    display: flex;
    height: 80vh;
}

.heroimg, .herotext{
    width: 50%;
}

.heroimg{
    object-fit: cover;
}

.herotext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  */
.histoire{
    background-image: url(img/motif.jpg);
    color: white;
    padding: 100px 15px;
}

.histoire h2{
    text-align: center;
    margin-bottom: 30px;
}

.histoire p{
    max-width: 750px;
    margin: 0 auto;
}

/*  */
.galerie{
    display: flex;
}

.galerie img{
    height: 30vh;
    object-fit: cover;
}

.photo1{
    width: 50%;
    background-image: url(img/black.jpg);
}
.photo2{
    width: 20%;
    background-image: url(img/tabouret.jpg);
}
.photo3{
    width: 30%;
    background-image: url(img/chair-2.jpg);
}

/*  */
.partenaires{
    background-image: url(img/motif.jpg);
    text-align: center;
    padding: 100px 15px;
}

h2{
    color: white;
    margin-bottom: 30px;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* POINT DE RUPTURE 640PX */
@media (max-width:640px) {
    header a{
        display: block;
        text-align: right;
    }

    .heroimg{display: none;}
    .herotext{
        width: 100%;
        background-image: url(img/chair-1.jpg);
        background-size: cover;
        background-position: center;
    }

    .galerie{
        flex-direction: column;
    }
    .galerie img{
        width: 100%;
        height: 20vh;
    }
}